{% extends 'base.html' %}

{% block title %}Acedify{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Acedify</h1>
    <p>Your one-stop solution for all academic needs.</p>

    {% comment %} <p><a href="{% url '' %}">Explore our marketplace for academic resources</a>.</p> {% endcomment %}
    <p><a href="{% url 'listing' %}">Explore our marketplace for academic resources</a>.</p>
    <p>Join our community of learners and educators.</p>
</div>
{% endblock %}
